a {
  font-family: $font-bold !important;
}
.v-content {
  padding: 0 !important;
}
.v-app-bar {
  background-color: transparent !important;
  box-shadow: none !important;
  height: auto !important;
  transition: all 0.5s ease-in-out;

  // top: 2rem !important;
  .v-toolbar__content {
    height: auto !important;

    @media only screen and (min-width: 1440px) {
      width: 85% !important;
      padding: 0 !important;
    }
  }
}
.d-inherit {
  display: inherit;

  @media only screen and (min-width: 1440px) {
    max-width: 1600px !important;
  }
  .navbar-link {
    color: $color-white !important;
    font-family: $font-light !important;
    cursor: pointer;
  }
}
.header--active {
  background-color: $color-light-gray !important;
  box-shadow: 0 3px 5px #ccc !important;
  .d-inherit {
    .navbar-link {
      color: $main-color !important;
    }
  }
}
.card-options {
  position: relative;
  border: none !important;
  .inputs,
  .qr-code {
    position: absolute;
  }
}
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}
.v-list-item {
  padding: 0 !important;
}
.v-list-item .v-list-item__title,
.v-list-item .v-list-item__subtitle {
  line-height: 2 !important;
}

label {
  font-family: $font-regular !important;
}
.v-messages__message {
  font-family: $font-regular !important;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.v-application .mb-12 {
  margin-bottom: 0 !important;
}
.v-input__control {
  .v-input__slot {
    fieldset {
      padding: 30px 0 !important;
    }
  }
}

.v-application {
  p {
    margin-bottom: 0 !important;
    line-height: 1.8 !important;
  }
}
@media (min-width: 1660px) {
  .container {
    max-width: 1440px !important;
  }
}
.v-app-bar--fixed {
  padding-top: 1rem !important;
  &.header--active {
    padding-top: 0 !important;
  }
}

/*** Scroll Bar Style ***/
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: $main-color;
  outline: 1px solid slategrey;
}

/*** Image Sizing Aspect Ration ***/
.img-wrap {
  position: relative;
  .img-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .slider_image {
      border-radius: 15px;
    }
    > img,
    > iframe {
      max-height: 100%;
      display: block;
    }
  }
  .img-content-transform {
    bottom: -45vh !important;
  }
  &.ratio-10 {
    padding-top: 10%;
  }
  &.ratio-20 {
    padding-top: 20%;
  }
  &.ratio-30 {
    padding-top: 30%;
  }
  &.ratio-35 {
    padding-top: 35% !important;
  }
  &.ratio-40 {
    padding-top: 40%;
  }
  &.ratio-45 {
    padding-top: 45%;
  }
  &.ratio-50 {
    padding-top: 50%;
  }
  &.ratio-60 {
    padding-top: 60%;
  }
  &.ratio-75 {
    padding-top: 75%;
  }
  &.ratio-80 {
    padding-top: 80%;
  }
  &.ratio-100 {
    padding-top: 100%;
  }
}
