//color
$main-color: #30ba93;
$second-color: #0089e2;
$third-color: #fddece;
$color-white: #fff;
$color-black: #000;
$color-gray: #a5a5a5;
$color-dark-gray: #3e3e3e;
$color-light-gray: #f8fbfc;
$color-light-orange: #fbbe9d;
$main-color-light: #fdede3;

// font
$xl-font: 50px;
$lg-font: 40px;
$md-font: 30px;
$font-32: 24px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;

// margin
$mg-100: 100px;

// Font Family
$font-bold: 'Font Bold';
$font-regular: 'Font Regular';
$font-light: 'Font Light';
