
.icon-fb:before { content: '\e800'; } /* '' */
.icon-lang:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */